@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2');
  unicode-range: U+004C U+004F U+0052 U+0045 U+004D U+0049 U+0050 U+0053 U+0055
    U+002E U+004E U+0045 U+0054;
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2');
}
