@use '../utils/variables/font' as *;
@use '../utils/variables/colors';
@use 'sass:color';
@use '../utils/mixins' as *;

$nav-transition: 500ms;

.nav {
  width: 100%;
  max-width: 435px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    white-space: nowrap;
    list-style: none;
  }

  &__link {
    position: relative;
    padding: 1em 0;

    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;

    &[aria-current='location'] {
      color: #43abf0;
    }

    @keyframes appear {
      from {
        bottom: 0;
        opacity: 0;
      }
    }

    @include hover {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        top: unset;
        bottom: 0.8em;

        height: 0.1em;
        background: currentColor;
        animation: 200ms forwards ease-out appear;
      }
    }
  }
}

@media (max-width: 810px) {
  .nav {
    flex: none;
    position: fixed;
    inset: 0;
    top: var(--header-height);
    max-width: unset;
    background: color.scale(colors.$accent, $lightness: -50%, $alpha: -5%);
    clip-path: polygon(100% 0%, 100% 0%, 100% 0%, 100% 0%);
    opacity: 0;
    transition: clip-path $nav-transition, opacity $nav-transition;

    &__list {
      display: block;
      text-align: center;
    }

    &__link {
      padding: 20px;
      display: block;
      transition: background 200ms;

      &[aria-current='location'] {
        color: unset;
      }

      &::after {
        display: none;
      }

      @include hover {
        background: color.scale(colors.$accent, $lightness: -20%, $alpha: -5%);
      }
    }

    &__button {
      display: block;
      flex: none;
      position: relative;
      margin-right: calc(var(--container-padding) + 5px);
      width: 34px;
      height: 34px;
      background: none;
      border: none;

      $size: 4px;
      $space: 3px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - $size / 2);
        left: 0;
        right: 0;

        height: $size;
        background: currentColor;
        transition: all $nav-transition;
      }

      &::before,
      &[aria-expanded='true'].closing::before {
        transform: rotate(0deg);
        box-shadow: 0 calc(0px - $size * 1.5 - $space * 1.5) currentColor;
      }

      &::after,
      &[aria-expanded='true'].closing::after {
        transform: rotate(0deg);
        box-shadow: 0 calc($size * 1.5 + $space * 1.5) currentColor;
      }

      &.opening::before,
      &[aria-expanded='true']::before {
        transform: rotate(315deg);
        box-shadow: none;
      }

      &.opening::after,
      &[aria-expanded='true']::after {
        transform: rotate(225deg);
        box-shadow: none;
      }

      &.opening ~ .nav,
      &[aria-expanded='true'] ~ .nav {
        display: block;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
        opacity: 1;
      }

      &.closing ~ .nav {
        clip-path: polygon(100% 0%, 100% 0%, 100% 0%, 100% 0%);
      }
    }
  }
}
